// When we tooltip a button, it makes it all-caps.
[class*="hint--"]:after
	text-transform: none

[data-hint]
	&:after
		background: $black !important

.hint--top-left:before
	border-top-color: $black !important

.hint--top-right:before
	border-top-color: $black !important

.hint--top:before
	border-top-color: $black !important

.hint--bottom-left:before
	border-bottom-color: $black !important

.hint--bottom-right:before
	border-bottom-color: $black !important

.hint--bottom:before
	border-bottom-color: $black !important

.hint--left:before
	border-left-color: $black !important

.hint--right:before
	border-right-color: $black !important
