// When we tooltip a button, it makes it all-caps.
[class*='hint--']
	// Hide the arrow.
	&:before
		display: none
		
	&:after
		text-transform: none

[data-hint]
	&:after
		background: $black !important
		border-radius: $border-radius-base
