$screen-xs = 200px  // Not sure why we need xs...
$screen-sm = 450px

// Set up our global variables.
@import '../../lib/gj-lib-client/stylus/common/variables'

/**
 * Grid System
 */
$grid-columns = 8
$grid-gutter-width = 10px

/**
 * Scaffolding
 */
$font-size-base = 13px
$font-size-large = ceil( $font-size-base * 1.25 )
$font-size-small = ceil( $font-size-base * 0.85 )

$input-height-base = 28px

/**
 * Buttons
 */
$button-padding-vertical = 4px
$button-padding-horizontal = 15px
$button-outline-border-size = 1px

/**
 * App variables
 */
$height = 245px
$xs-height = 274px
$shell-padding = 7px
$pricing-card-offset = 4px
$thumbnail-width = 125px
