@import '~styles/variables'
@import '../../../lib/gj-lib-client/stylus/common/mixins'

.shell
	padding: $shell-padding
	position: relative
	height: $xs-height

	@media $media-sm-up
		height: $height - $pricing-card-offset
