@require '~styles/variables'
@require '../../../lib/gj-lib-client/stylus/common/mixins'

.footer
	clearfix()
	position: absolute
	bottom: $shell-padding
	left: $shell-padding
	right: $shell-padding

.links
.bolt
	position: absolute
	bottom: 0
	font-size: $font-size-small
	line-height: 1

.links
	left: 0

.bolt
	right: 0

	a
		display: inline-block
		color: $gray-light

		&:hover
			color: $gj-green

			.shell.light &
				color: $gj-dark-green

			.text
				opacity: 1

			.right
				max-width: 100px

	.jolticon
		margin: 0
		vertical-align: text-bottom

	.text
		display: inline-block
		font-family: $font-family-heading
		opacity: 0
		transition: opacity 1s, max-width 1s
		white-space: nowrap
		vertical-align: middle
		color: $white

		.shell.light &
			color: $gray

	.right
		overflow: hidden
		max-width: 0
