@require '~styles/variables'

.pricing-card
	float: right
	margin-top: -($shell-padding + $pricing-card-offset)
	margin-left: 15px
	padding: 10px
	text-align: center
	border-radius: $border-radius-base

	&-amount
		color: $white
		font-size: $font-size-large

	&-decimal
		font-size: $font-size-small

	&-amount-old
		color: $gray-lighter
		margin-left: 5px
		text-decoration: line-through

		&
		.pricing-card-decimal
			font-size: $font-size-tiny

	&-discount
		display: block
		margin-left: -10px
		margin-right: -10px
		margin-top: -10px
		margin-bottom: 5px
		padding-top: 3px
		padding-bottom: 3px
		font-weight: bold
		background-color: $gj-green
		color: $black

	&-tag
		color: $white
		font-size: $font-size-tiny
		font-weight: bold
		text-transform: uppercase

		&.muted
			color: $gray-lighter
