$gj-app-styles-folder ?= '../../../../sale'
@import '../lib/gj-lib-client/stylus/common'

// load-module( 'well' )
load-module( 'button' )
load-module( 'jolticons' )
// load-module( 'section' )
// load-module( 'alert' )
// load-module( 'spoiler' )

// load-module( 'error' )
// load-module( 'tooltip' )
// load-module( 'scroll/affix' )

// load-module( 'nav/nav-platform-list' )

@import 'styles/type'
@import 'styles/forms'

// Shell.
// @import 'styles/scaffolding'
// @import 'styles/shell'

// Components.
@import './components/**/*.styl'
