@import '~styles/variables'

.payment-form
	margin-bottom: $shell-padding

	.user-avatar
		width: $input-height-base
		float: left

	.user-display-name
		margin-left: $input-height-base + $grid-gutter-width
		line-height: $input-height-base

	&-amount-input
		position: relative
		display: inline-block

		input
			display: inline-block
			width: 80px
			margin-right: 10px
			padding-left: 25px

			@media $media-sm-up
				width: 120px

		&-currency
			position: absolute
			content: '$'
			top: 6px
			left: 10px
			color: $gray-light
			z-index: 2

	.control-label
		float: left
		text-align: right
		line-height: $input-height-base
		width: 100px

		@media $media-sm-up
			width: $thumbnail-width

	.form-group
		clear: left

	.form-group-control
	.form-errors
	.payment-methods
		margin-left: 100px + $grid-gutter-width

		@media $media-sm-up
			margin-left: $thumbnail-width + $grid-gutter-width

	.payment-methods
		clear: both
		text-align: left
