html, body
	background-color: transparent

body
	height: $xs-height
	padding-top: $pricing-card-offset
	overflow: hidden

	@media $media-sm-up
		height: $height

.app
	padding: $shell-padding
	position: relative
	height: $xs-height

	@media $media-sm-up
		height: $height - $pricing-card-offset

.header
	@extend .clearfix
	margin-bottom: $grid-gutter-width

	.product-thumbnail
		display: none

		@media $media-sm-up
			display: block
			float: left
			width: $thumbnail-width

	.product-info
		@media $media-sm-up
			margin-left: $thumbnail-width + $grid-gutter-width

.title
	text-overflow()
	margin-right: 15px
	font-weight: bold
	font-size: $font-size-large

.dev
	margin-bottom: 5px
	font-family: $font-family-base

.included-link
	user-select: none

/**
 * Transitions
 */
.stack-transition
	animation-duration: 500ms
	animation-timing-function: $strong-ease-out
	animation-fill-mode: forwards

.stack-enter
	animation-name: fade-in-shrink

.stack-leave
	animation-name: fade-out-enlarge

.slide-up-transition
	animation-timing-function: $strong-ease-out
	animation-fill-mode: forwards

.slide-up-enter
	animation-duration: 350ms
	animation-name: fade-in-up

.slide-up-leave
	animation-duration: 600ms
	animation-name: fade-out-down


