
$fbox-height = 47px
$fbox-vertical-padding = ($line-height-computed / 2)
$fbox-anim-length = 500ms

.fantastic-box
	position: relative
	overflow: hidden
	height: $fbox-height
	z-index: 5

	.inner
		position: relative
		top: -($fbox-height)
		height: $fbox-height * 3
		transition: top $fbox-anim-length $strong-ease-out

		.showing-error &
			top: 0

		.redirecting &
			top: -($fbox-height * 2)

	&-row
		height: $fbox-height
		overflow: hidden

	#form-errors
		padding-top: 9px
		transform: scale( 0.8, 0.8 )
		opacity: 0
		transition: transform $fbox-anim-length $strong-ease-out, opacity $fbox-anim-length

		.showing-error &
			transform: scale( 1, 1 )
			opacity: 1

		.error
			margin: 0
			display: none

		&.showing-no-email .no-email
			display: block

		&.showing-invalid-email .invalid-email
			display: block

	#payment-methods
		text-align: center
		padding-top: 9px
		opacity: 1
		transition: transform $fbox-anim-length $strong-ease-out, opacity $fbox-anim-length

		.showing-error &
		.redirecting &
			transform: scale( 0.5, 0.5 )
			opacity: 0

	#processing-message
		padding-top: 9px
		text-align: center
		transform: scale( 0.5, 0.5 )
		opacity: 0
		transition: transform $fbox-anim-length $strong-ease-out, opacity $fbox-anim-length

		.redirecting &
			transform: scale( 1, 1 )
			opacity: 1
