form
	position: relative

.form-group
	margin-bottom: $line-height-computed

.form-control
	border-color: $white

	body.light &
		border-color: $gray-lighter

	&:focus
		border-color: $black

		body.light &
			border-color: $gray

	// Override the placeholder styling to be a bit darker.
	&::-moz-placeholder
		color: $gray-light

	&:-ms-input-placeholder
		color: $gray-light

	&::-webkit-input-placeholder
		color: $gray-light

.form-group
	margin-top: ($line-height-computed / 2)
	margin-bottom: ($line-height-computed / 2)
	// position: relative
	// z-index: 5  // Put it on top of form errors.

.help-block.error
	padding-top: 7px
	padding-bottom: 7px

.form-control.has-error
.form-control.has-error:focus
body.light .form-control.has-error
body.light .form-control.has-error:focus
	border-color: $gj-pink

// Specific controls

.form-group-email
	margin-bottom: 0
