/**
 * Grid System
 */
$grid-columns = 7
$grid-gutter-width = 10px

$screen-sm-min = 400px
$screen-md-min = 992px
$screen-lg-min = 1200px

/**
 * Colors
 */
// $body-bg = $gray-dark
$text-color = $white
$headings-color = $white
$link-color = $gj-green
$link-hover-color = $gj-pink

/**
 * Scaffolding
 */
$font-size-base = 13px
$font-size-large = ceil( $font-size-base * 1.25 )
$font-size-small = ceil( $font-size-base * 0.85 )

$font-size-h1 = 20px
$font-size-h2 = 19px
$font-size-h3 = 14px
$font-size-h4 = 12px
$font-size-h5 = $font-size-base
$font-size-h6 = ceil( $font-size-base * 0.85 )

// 20/14
$line-height-base = 1.428571429
$line-height-computed = floor( $font-size-base * $line-height-base )

$headings-font-family = $font-family-heading
$headings-font-weight = bold
$headings-line-height = 1.2
