@require '~styles/variables'
@require '../lib/gj-lib-client/stylus/common/mixins'

.shell
	padding: $shell-padding
	position: relative
	height: $shell-height - $pricing-card-offset
	border-radius: $border-radius-base
