.address-form
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 30px  // Make room for footer.
	padding: $shell-padding
	z-index: 1

	.app.dark &
		@extend .fill-darker

	.app.light &
		@extend .fill-lightest

	.form-group
		@extend .no-animate
