<validator name="form">
	<form novalidate>

		<a class="pull-right link-muted" @click="cancel" style="margin-left: 10px">
			&laquo; Back
		</a>

		<p>
			<span class="jolticon jolticon-info-circle"></span>
			<span translate>The EU sucks and makes us collect billing addresses for all orders.<br>(ノಠ益ಠ)ノ彡┻━┻</span>
		</p>

		<div class="section-cutout">

			<div class="form-group">
				<select
					class="form-control"
					v-model="address.country"
					@change="countryChanged"
					>
					<option v-for="_country in countries" track-by="code" :value="_country.code">
						{{ _country.name }}
					</option>
				</select>
			</div>

			<div class="form-group">
				<input
					type="text"
					class="form-control"
					placeholder="Street Address"
					v-model="address.street1"
					v-validate:street="{
						required: { rule: true, message: 'Please enter your address.' },
					}"
					>
			</div>

			<div class="row">
				<div class="col-xs-4">
					<div class="form-group">
						<div v-if="!regions[ address.country ]">
							<input
								type="text"
								class="form-control"
								placeholder="State/Province"
								v-model="address.region"
								v-validate:region="{
									required: { rule: true, message: 'Please enter your sate/province.' },
								}"
								>
						</div>
						<div v-else>
							<select
								class="form-control"
								v-model="address.region"
								>
								<option v-for="_region in regions[ address.country ]" track-by="code" :value="_region.code">
									{{ _region.name }}
								</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group">
						<input
							type="text"
							class="form-control"
							placeholder="Zip/Postal Code"
							v-model="address.postcode"
							v-validate:postcode="{
								required: { rule: true, message: 'Please enter your zip/postal code.' },
							}"
							>
					</div>
				</div>
			</div>

			<div class="form-errors" v-if="hasFormError">
				<div class="alert alert-warning">
					<span class="jolticon jolticon-notice"></span>
					{{ formError }}
				</div>
			</div>

			<div v-if="!hasFormError">
				<button
					class="btn btn-success-outline"
					:disabled="$form.invalid ? 'disabled' : undefined"
					>
					Proceed to PayPal
				</button>
			</div>

		</div>

	</form>
</div>
