@require '~styles/variables'
@require '~styles-lib/mixins'

.toast
	rounded-corners()
	position: absolute
	bottom: 0
	left: $shell-padding * 2
	right: @left
	padding: 7px 10px
	z-index: 1000

	&-close
		float: right
		margin-left: 10px
