.section-cutout
	position: relative
	margin-left: -($shell-padding)
	margin-right: -($shell-padding)
	padding: $shell-padding
	border-top: 1px dashed $gray-light
	border-bottom: 1px dashed $gray-light

	.app.dark &
		@extend .fill-dark

	.app.light &
		@extend .fill-white
		border-color: $gray-lighter

	.fade
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 10
		background-color: rgba( $black, 0.5 )

		&.v-transition
			transition: opacity 400ms
			opacity: 1

		&.v-enter
		&.v-leave
			opacity: 0

.section-cutout-fade
	border-top: 0
