$height = 245px
$xs-height = 274px

html, body
	background-color: transparent

body
	height: $height

	&.light
		color: $gray-dark

	@media $media-xs
		height: $xs-height

#shell
	position: relative
	padding: $grid-gutter-width
	background-color: $gray-dark
	border-radius: 4px
	border: 1px solid rgba( 0, 0, 0, 0.1 )
	box-shadow: 0 2px 0 rgba( 0, 0, 0, 0.5 )

	body.light &
		background-color: $gray-lightest
		border: 1px solid rgba( 0, 0, 0, 0.15 )
		box-shadow: 0 2px 0 rgba( 0, 0, 0, 0.1 )

	overflow: hidden
	height: $height

	@media $media-xs
		height: $xs-height

// Keep the form hidden while loading.
form
	display: none

	body.is-loaded &
		display: block

.header
	@extend .clearfix

	.product-thumbnail
		float: left
		width: 125px

		@media $media-xs
			display: none

	.product-info
		margin-left: 125px + $grid-gutter-width

		@media $media-xs
			margin-left: 0

.title
	text-overflow()
	margin-right: 15px

.dev
	font-family: $font-family-base
	margin-bottom: 5px

	a
		color: $gray-light

		&:hover
			color: $gray-lighter

			body.light &
				color: $gray

.price
	color: $gj-green

	body.light &
		color: $gj-dark-green

	.i-button
		position: relative
		top: -5px
		margin-left: 10px
		font-weight: normal
		color: $gray-lighter !important

		.jolticon
			color: $white !important

		&:hover
		body.light &:hover
			color: $gj-green !important

			.jolticon
				color: inherit !important

		body.light &
			background-color: $gray-lighter
			color: $gray !important

.os-icons
	float: right
	margin-left: $grid-gutter-width
	max-width: 43px
	text-align: right

	.jolticon
		color: $gray-lighter

		body.light &
			color: $gray-light

.product-description
	height: 34px

	@media $media-xs
		height: 68px

.gift.checkbox
	margin: 5px 0 0 2px

	input
		cursor: pointer

	label
		font-weight: bold
		color: $gray-lighter

		body.light &
			color: $gray-light

	&:hover
		label
			color: $white

			body.light &
				color: $gray-dark

.footer
	@extend .clearfix

.links
	float: left
	font-size: $font-size-small
	display: inline-block
	padding-top: 10px
	line-height: 1
	color: $gray

	.light &
		color: $gray-lighter

	a
		color: $gray-light

		&:hover
			color: $white

			.light &
				color: $gray-dark

.bolt
	float: right
	line-height: 20px

	a
		display: inline-block
		color: $gray-light

		&:hover
			color: $gj-green

			body.light &
				color: $gj-dark-green

			.text
				opacity: 1

			.right
				max-width: 100px

	.jolticon
		margin: 0
		vertical-align: bottom

	.text
		display: inline-block
		font-family: $font-family-heading
		opacity: 0
		transition: opacity 1s, max-width 1s
		white-space: nowrap
		vertical-align: middle
		color: $white

		body.light &
			color: $gray

	.right
		overflow: hidden
		max-width: 0

.widget-error
	display: none

.has-invalid-key-error .widget-error-invalid-key
	display: block
