@require '~styles/variables'
@require '~styles-lib/mixins'

.download-controls
	margin-top: $shell-padding * 2

.view-payment
	margin-bottom: $font-size-base

.jolticon-heart
	theme-prop('color', 'link')
