<div class="pricing-card"
	:class="{ 'pricing-card-owned': sellable.is_owned }"
	>

	<div v-if="sellable.is_owned">
		<strong>
			OWNED
		</strong>
	</div>
	<div v-else>

		<div v-if="sellable.type == 'paid'">
			<strong class="pricing-card-amount">
				${{ price }}
			</strong>
			<br>
			<span class="pricing-card-tag muted">
				or more
			</span>
		</div>

		<div v-if="sellable.type == 'pwyw'">
			<span class="pricing-card-tag">
				name your price
			</span>
		</div>

		<div v-if="sellable.type == 'free'">
			<strong class="pricing-card-amount">
				FREE
			</strong>
		</div>
	</div>
</div>
